In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\pushp\anaconda3\lib\site-packages (3.12.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install dnspython

Requirement already satisfied: dnspython in c:\users\pushp\anaconda3\lib\site-packages (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pymongo import MongoClient
import pandas as pd

In [4]:
client = MongoClient(
        "mongodb+srv://scott:tiger@data-mining.dhhaj.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [5]:
mon_db = client["loans"]
mon_col = mon_db["loans_lending"]

In [7]:
loans_data = mon_col.find().limit(25000)

loans_df = pd.DataFrame(loans_data)

In [8]:
loans_df.head()

,_id,id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,mort_acc,pub_rec_bankruptcies,tot_cur_bal,avg_cur_bal,home_ownership,debt_settlement_flag,pub_rec,pymnt_plan,last_pymnt_d,last_pymnt_amnt
0,618ea365bd3663fe623607fa,68407277,3600,36 months,13.99,123.03,C,C4,leadman,10+ years,...,1,0,144904,20701,MORTGAGE,N,0,n,Jan-19,122.67
1,618ea365bd3663fe623607fb,68355089,24700,36 months,11.99,820.28,C,C1,Engineer,10+ years,...,4,0,204396,9733,MORTGAGE,N,0,n,Jun-16,926.35
2,618ea365bd3663fe623607fc,68341763,20000,60 months,10.78,432.66,B,B4,truck driver,10+ years,...,5,0,189699,31617,MORTGAGE,N,0,n,Jun-17,15813.3
3,618ea365bd3663fe623607fd,66310712,35000,60 months,14.85,829.9,C,C5,Information Systems Officer,10+ years,...,1,0,301500,23192,MORTGAGE,N,0,n,Feb-19,829.9
4,618ea365bd3663fe623607fe,68476807,10400,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,...,6,0,331730,27644,MORTGAGE,N,0,n,Jul-16,10128.96